@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto2.ttf);
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/Roboto3.ttf);
}

body {
	font-family:"Roboto", Helvetica, sans-serif;
	font-size: 14px;
	background: #FEF6EB;
}


/* --------------------- Launch Page --------------------- */

#launch {
	font-family: "Roboto Condensed", Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: #525564;
    padding: 5px 5px 100px;
    margin: 5px 15px 0;
}

#launch h2 {
	margin-top: 15%;
    font-family: "Roboto Bold", sans-serif;
    font-size: 36px;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.65);
}

#launch h1 {
	font-size: 100px;
    margin-bottom: 80px;
    line-height: 65px;
    color: #FFF;
}

#launch a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid rgba(255,255,255,0.65);
    border-radius: 2px;
    padding: 15px 25px;

}


#launch a:hover {
    color: #e6e6e6;
}

nav{
    height: 93px;
    background: #74828F;
    margin: 0 auto;
    margin: 5px 15px 0;
   

}
nav ul{
	width: 100%;
	margin: 0 auto;
    padding-top: 26px;

}
nav ul li{

    border: solid 2px transparent;
    letter-spacing: .15em;
    color: #ffffff;
    margin-top: .3%;
    margin-left: 34px;
    padding: 5px 10px;
    display:inline-block;
    text-align: center;
    cursor: pointer;
}
nav ul li:hover{
    background-color: hsla(0, 0%, 69%, 0.55);
    border: 2px inset hsla(0, 0%, 87%, 0.76);

}

/*======== Start of selena css here======*/

#test{
    padding: 0 0 20px 15px;
    width: 100%;
    margin: 0 15px 15px auto;
    background-color: #FEF6EB;
   /*border: 1px solid blue;*/
   overflow:auto;
}

section h2{
    color: rgba(255,255,255,0.65);
    font-weight: 500;
    letter-spacing: .17em;
   /* position: relative;*/
    bottom: 110px;
    text-align: center;
    /*border-bottom: 1px #FEF6EB;*/
    padding: 10px;
    font-family:"roboto bold";
    font-size: 18px;
}

section p{
    color: 	#fff;
}

article{
    width: calc(50% - 10px);
    float: left;
   height:300px;
  padding: 15px;
margin-top: 5px;
    /*border: 1px solid blue;*/
    position: relative;
    font-size: 16px;
    background-color:rgba(82,85,100,0.9);
    overflow:hidden;
}

article:nth-of-type(odd)
{
    margin-right: 5px;  
   
}

/*======== End of selena css here======*/
#sol1, #sol2, #sol3, #sol4 /* TO DO NEED STYLING */
{
    width: 100%;
	position: absolute;
	top:0;
	display: none;
	padding: 30px 20px;
	background: #BEB9B5;/* TO DO CHANGE TO APPOPRIATE COLOR */
	z-index: 900;
	height: 300px;
	margin-left: -15px;
}


.solBtn {
	font-family: "Roboto Bold", sans-serif;
	border: solid 1px black;
	text-align:center;
	padding: 7px;
	width: 110px;
	height: 45px;
	color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid rgba(255,255,255,0.65);
    border-radius: 2px;
	position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.solBtn:hover {
    color: #e6e6e6;
}


/*======== footer ======*/

footer{ 
	max-width:100%;
	color:#fefff6;
	background-color:#525564;
	height: 300px;
	
	overflow:auto;
}


footer section{
	/*height: 180px;*/
	background-color:#BEB9B5;
	text-align: center;
	color: #969696;
	overflow:auto;
}

#social{
	max-width:100%;
	clear: both;
	margin: 0 auto;
}

footer img{
	max-width:40%;
}


#up{
	margin-top:15px;
	float: right;
	display: block;
	margin-right: 60px;
	width: 50px;
	height: 50px;
    cursor: pointer;
}
footer a{
		color: white;

}

footer ul{
	clear: both;
	margin: bottom;
}

footer li{
	margin-right: 10px;
	margin-bottom: 400px;
	display: inline;
}

#flist{
	margin-bottom: 10px;
}

#flist li{
	text-transform: uppercase;
	font-size: 1em;
}

#flist li a{
	font-size:1em;

}

#slist{
	padding-bottom: 20px;
		font-size:1em;
}

#slist li{
		font-size:1em;
}

footer h2{
    padding-top: 25px;
	text-align: center;
	text-transform: uppercase;
	font-size:1em;
}

footer p{
	text-align: center;
	font-size:1em;
}

#thanks {
    font-family:"Roboto Bold";
    width: 600px;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    text-align: left;
    padding: 15px;
    color: #525564;
}

.border{
	padding-left: 10px;
	border-left:1px solid white;
}

/*======== end of footer ======*/



