/* Team 1 ======================================================== */
/* End of Team 1 ================================================= */


/* Team 2 ======================================================== */
/* End of Team 2 ================================================= */


/* Team 3 ======================================================== */
/* End of Team 3 ================================================= */


/* Team 4 ======================================================== */
/* End of Team 4 ================================================= */


/* Team 5 ======================================================== */
/* Color 1: #2E1B05 Root
   Color 2: #655441 Somber
   Color 3: #8F6F49 Yggdrasil
   Color 4: #094978 Blues Power
   Color 5: #D71111 Pale Red
*/


.team5
{
  margin-top: 10px;
  background: #2E1B05;
  color: #D71111;
  font-family: Helvetica;
  padding: 20px;
}

.team5 article a
{
  
}

.team5 article a:hover
{
  color: rgba(215,17,17, 0.8);
}

.team5 article a:visited
{
  color: #094978;
}

.team5 h2
{
  font-size: 28px;
  font-weight: 900;
}

.team5 article h3
{
  
  font-size: 24px;
  font-weight: 700;
}
/* End of Team 5 ================================================= */