@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto2.ttf);
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/Roboto3.ttf);
}

body {
	font-family:"Roboto", Helvetica, sans-serif;
	font-size: 14px;
}


/* --------------------- Launch Page --------------------- */

#launch {
	font-family: "Roboto Condensed", Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: #525564;
    padding: 5px 5px 100px;
    margin: 5px 15px;
}

#launch h2 {
	margin-top: 15%;
    font-family: "Roboto Bold", sans-serif;
    font-size: 36px;
    letter-spacing: 1px;
    color: rgba(255,255,255,0.65);
}

#launch h1 {
	font-size: 100px;
    margin-bottom: 80px;
    line-height: 65px;
    color: #FFF;
}

#launch a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid rgba(255,255,255,0.65);
    border-radius: 2px;
    padding: 15px 25px;

}


#launch a:hover {
    color: #e6e6e6;
}

nav{
    height: 93px;
    background: url("../images/nav_background_new.png");
    background-size: cover;
    margin: 15px auto;
    width: 97.5%;
   

}
nav ul{
	width: 100%;
	margin: 0 auto;
    padding-top: 26px;

}
nav ul li{

    border: solid 2px transparent;
    letter-spacing: .15em;
    color: #ffffff;
    margin-top: .3%;
    margin-left: 34px;
    padding: 5px 10px;
    display:inline-block;
    text-align: center;
    cursor: pointer;
}
nav ul li:hover{
    background-color: hsla(0, 0%, 69%, 0.55);
    border: 2px inset hsla(0, 0%, 87%, 0.76);

}

/*======== Start of selena css here======*/

section{
    width: 97.5%;
    margin: 15px auto;
    overflow: hidden;
    /*border: 1px solid blue;*/
    background-color:#525564;
}

section h2{
    color: #FEF6EB;
    font-weight: 500;
    letter-spacing: .17em;
   /* position: relative;*/
    bottom: 110px;
    text-align: center;
    /*border-bottom: 1px #FEF6EB;*/
    padding: 10px;
    font-family:"roboto bold";
    font-size: 18px;
}

section p{
    color: 	#fff;
}

article{
    width: 50%;
    float: left;
    height: 180px;
    /*padding-top: 125px;*/
    padding-left: 20px;
    border: 1px solid blue;
    position: relative;
    font-size: 16px;
}

/*======== End of selena css here======*/


article div {
	font-family: "Roboto Bold", sans-serif;
	border: solid 1px black;
	text-align:center;
	padding: 7px;
	width: 110px;
	height: 45px;
	color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid rgba(255,255,255,0.65);
    border-radius: 2px;
	position: absolute;
    bottom:0;
    right: 0;
    cursor: pointer;
}



/*======== footer ======*/

footer{
	max-width:100%;
	color:#fefff6;
	background-color:#525564;
	height: 300px;
	overflow:auto;
}


footer section{
	/*height: 180px;*/
	background-color:#BEB9B5;
	text-align: center;
	color: #969696;
	overflow:auto;
}

#social{
	max-width:100%;
	clear: both;
	margin: 0 auto;
}

footer img{
	max-width:40%;
}


#up{
	margin-top:15px;
	float: right;
	display: block;
	margin-right: 60px;
	width: 50px;
	height: 50px;
    cursor: pointer;
}
footer a{
		color: white;

}

footer ul{
	clear: both;
	margin: bottom;
}

footer li{
	margin-right: 10px;
	margin-bottom: 400px;
	display: inline;
}

#flist{
	margin-bottom: 10px;
}

#flist li{
	text-transform: uppercase;
	font-size: 1em;
}

#flist li a{
	font-size:1em;

}

#slist{
	padding-bottom: 20px;
		font-size:1em;
}

#slist li{
		font-size:1em;
}

footer h2{
	text-align: center;
	text-transform: uppercase;
	font-size:1em;
}

footer p{
	text-align: center;
	font-size:1em;
}

.border{
	padding-left: 10px;
	border-left:1px solid white;
}

/*======== end of footer ======*/



